@import "./bootstrap-reboot/bootstrap-reboot.scss";

h1 {
	color: red;
	font-size: 34px;
	transition: .2s ease-out transform;
	&:hover {
		color: blue;
		transform: translate(10px, 0);
	}
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.flex-item {
		// width: 33.333%;
		&:first-child {
			background-color: red;
		}
		&:nth-child(2) {
			background-color: yellow;
		}
		&:last-child {
			background-color: blue;
		}
	}
}
