@import "./bootstrap-reboot/bootstrap-reboot.scss";
.l-document {
	overflow-x: hidden;
	.l-container {
		width: 90vw;
		margin: 0 auto;
		#p-slider {
			&__inner {
				display: flex;
				margin: 0 -20px;
				width: 130vw;
				.item {
					width: 60vw;
					padding: 0 20px;
					&-img {
						width: 100%;
						height: 200px;
						background: red;
					}
				}
			}
		}
	}
}
